@page "/editorial/index"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

<h1 class="Titulo-Libro">Editoriales</h1>

<br />
<div class="ContenedorBotonAgregarIli">
    <a href="/editorial/agregar">
        <button class="button">
            Agregar
        </button>
    </a>
</div>
<br />

<MudTable Items="@editoriales" Dense="true" Hover="true" Bordered="true" Striped="true">
    <ToolBarContent>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd>
            <MudButton Link="@($"/editorial/editar/{context.Id}")" Size="Size.Small" Variant="Variant.Filled" Color="Color.Tertiary"
                       StartIcon="@Icons.Material.Filled.EditNote"
                       Class="text-center">Editar</MudButton>
            <MudButton Link="@($"/editorial/eliminar/{context.Id}")" Size="Size.Small" Variant="Variant.Filled" Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Delete"
                       Class="text-center">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Editorial> editoriales = new List<Editorial>();
    private string searchText = "";

    protected override async Task OnInitializedAsync()
    {
        httpClient.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
        await getAll();
    }

    private async Task getAll()
    {
        var httpResponse = await httpClient.GetStringAsync("editorial");
        editoriales = JsonSerializer.Deserialize<IEnumerable<Editorial>>(httpResponse, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void goAdd()
    {
        NavigationManager.NavigateTo("editorial/agregar");
    }
}

