<MudNavMenu Class="mud-width-full">
    @* <MudNavLink Href="/home" Icon="@Icons.Material.Filled.Home">Inicio</MudNavLink>
    <MudNavLink Href="/usuario/index" Icon="@Icons.Material.Filled.People">Usuarios</MudNavLink>
    <MudNavLink Href="/rol/index" Icon="@Icons.Material.Filled.SupervisedUserCircle">Roles</MudNavLink>
    <MudNavLink Href="/libro/index" Icon="@Icons.Material.Filled.AutoStories">Libros</MudNavLink>
    <MudNavLink Href="/categoria/index" Icon="@Icons.Material.Filled.Category">Categorias</MudNavLink>
    <MudNavLink Href="/editorial/index" Icon="@Icons.Material.Filled.Ballot">Editoriales</MudNavLink>
    <MudNavLink Href="/autor/index" Icon="@Icons.Material.Filled.AccountBox">Autores</MudNavLink>
    <MudNavLink Href="/sugerencia/index" Icon="@Icons.Material.Filled.MarkUnreadChatAlt">Sugerencias</MudNavLink>
 *@

    <MudNavLink Href="/home">
        <div class="nav-link-content">
            <img src="/images/casa.png" class="nav-link-image" />
            <span class="nav-link-text">Inicio</span>
        </div>
    </MudNavLink>
    <br />
    <MudNavLink Href="/usuario/index">
        <div class="nav-link-content">
            <img src="/images/Usuarios.png" class="nav-link-image" />
            <span class="nav-link-text">Usuarios</span>
        </div>
    </MudNavLink>
    <br /><MudNavLink Href="/rol/index">
        <div class="nav-link-content">
            <img src="/images/rol.png" class="nav-link-image" />
            <span class="nav-link-text">Roles</span>
        </div>
    </MudNavLink>
    <br /><MudNavLink Href="/libro/index">
        <div class="nav-link-content">
            <img src="/images/lobros.png" class="nav-link-image" />
            <span class="nav-link-text">Libros</span>
        </div>
    </MudNavLink>
    <br />
    <MudNavLink Href="/categoria/index">
        <div class="nav-link-content">
            <img src="/images/categoria.png" class="nav-link-image" />
            <span class="nav-link-text">Categorias</span>
        </div>
    </MudNavLink>
    <br />
    <MudNavLink Href="/editorial/index">
        <div class="nav-link-content">
            <img src="/images/edit.png" class="nav-link-image" />
            <span class="nav-link-text">Editoriales</span>
        </div>
    </MudNavLink>
    <br />

    <MudNavLink Href="/autor/index">
        <div class="nav-link-content">
            <img src="/images/usuario.png" class="nav-link-image" />
            <span class="nav-link-text">Autores</span>
        </div>
    </MudNavLink>
    <br />
    <MudNavLink Href="/sugerencia/index">
        <div class="nav-link-content">
            <img src="/images/sugerencia.png" class="nav-link-image" />
            <span class="nav-link-text">Sugerencia</span>
        </div>
    </MudNavLink>
</MudNavMenu>
