@page "/autor/agregar"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService


<h1 class="Titulo-AgregarLibro">Agrega un Nuevo Autor</h1>
@*<MudText Typo="Typo.h2" Class="ml">Nuevo Autor</MudText>*@

<div class="Contenedor-Agregar-Editar-Eliminar">

    <EditForm Model="autor" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Nombre" @bind-Value="autor.Nombre" For="@(() => autor.Nombre)" />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Apellido" @bind-Value="autor.Apellido" For="@(() => autor.Apellido)" />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Fecha de Nacimiento" @bind-Value="autor.FechaNacimiento" For="@(() => autor.FechaNacimiento)" />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Imagen del autor" @bind-Value="autor.AutorImagen" For="@(() => autor.AutorImagen)" />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Nombre Artistico" @bind-Value="autor.Seudonimo" For="@(() => autor.Seudonimo)" />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Nacionalidad" @bind-Value="autor.Nacionalidad" For="@(() => autor.Nacionalidad)" />
            </MudCardContent>
            <MudCardActions>
                <div class="ContenedorBotonesGuardarLibro">
                    <a href="@($"/autor/index")">
                        <button class="BotonesAdminlibroAtras Atras">Cancelar</button>
                    </a>
                    <button Type="Submit" Variant="Variant.Filled" Class="BotonesAdminlibroGuardar Guardar"> Guardar</button>
                </div>
                @*<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>*@
            </MudCardActions>
        </MudCard>
    </EditForm>
    @if (showLeaveAlert)
    {
        <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(true))">No se pudo guardar.</MudAlert>
    }

</div>

@code {
    private bool showLeaveAlert = false;
    Autor autor = new Autor();

    protected override async Task OnInitializedAsync()
    {
        Http.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
    }

    private async Task OnValidSubmit(EditContext context)
    {
        await save();
    }

    private async Task save()
    {

        var httpResponse = await Http.PostAsJsonAsync<Autor>("autor", autor);

        if (!(httpResponse.StatusCode == System.Net.HttpStatusCode.OK))
        {
            showLeaveAlert = true;
        }
        else
        {
            NavigationManager.NavigateTo("autor/index");
        }
    }

    private void CloseMe(bool value)
    {
        showLeaveAlert = false;
    }
}
