@page "/autor/eliminar/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService


<h1 class="Titulo-EliminarLibro">Eliminar Autor</h1>

<div class="Contenedor-Agregar-Editar-Eliminar">

    <EditForm Model="autor" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Nombre" @bind-Value="autor.Nombre" For="@(() => autor.Nombre)" Disabled />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Apellido" @bind-Value="autor.Apellido" For="@(() => autor.Apellido)" Disabled />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Fecha de nacimiento" @bind-Value="autor.FechaNacimiento" For="@(() => autor.FechaNacimiento)" Disabled />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Imagen del autor" @bind-Value="autor.AutorImagen" For="@(() => autor.AutorImagen)" Disabled />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Nombre artistico" @bind-Value="autor.Seudonimo" For="@(() => autor.Seudonimo)" Disabled />
            </MudCardContent>
            <MudCardContent>
                <MudTextField Label="Nacionalidad" @bind-Value="autor.Nacionalidad" For="@(() => autor.Nacionalidad)" Disabled />
            </MudCardContent>
            <MudCardActions>
                <div class="ContenedorBotonesGuardarLibro">
                    <a href="@($"/autor/index")">
                        <button class="BotonesAdminlibroAtras Cancelar">Cancelar</button>
                    </a>
                    <button Type="Submit" Variant="Variant.Filled" Class="BotonesAdminlibroGuardar Eliminar">Eliminar</button>
                </div>
            </MudCardActions>
        </MudCard>
    </EditForm>
    @if (showLeaveAlert)
    {
        <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(true))">Ocurrió un problema.</MudAlert>
    }

</div>

@code {
    [Parameter]
    public int id { get; set; }
    private bool showLeaveAlert = false;
    Autor autor = new Autor();

    protected override async Task OnInitializedAsync()
    {
        Http.DefaultRequestHeaders.Authorization =
        new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
        var resp = await Http.GetStringAsync("autor/" + id);
        autor = JsonSerializer.Deserialize<Autor>(resp, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private async Task OnValidSubmit(EditContext context)
    {
        await eliminar();
    }

    private async Task eliminar()
    {

        var httpResponse = await Http.DeleteAsync("autor/" + autor.Id);

        if (!(httpResponse.StatusCode == System.Net.HttpStatusCode.OK))
        {
            showLeaveAlert = true;
        }
        else
        {
            NavigationManager.NavigateTo("autor/index");
        }
    }

    private void CloseMe(bool value)
    {
        showLeaveAlert = false;
    }
}
