@page "/categoria/index"

@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

<h1 class="Titulo-Libro">Categorias</h1>

<br />
<div class="ContenedorBotonAgregarIli">
    <a href="/categoria/agregar">
        <button class="button">
            Agregar
        </button>
    </a>
</div>
<br />

<MudTable Items="@categorias" Dense="true" Hover="true" Bordered="true" Striped="true">
    <ToolBarContent>
        <MudSpacer />

    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd>


            <MudButton Link="@($"/categoria/editar/{context.Id}")" Size="Size.Small" Variant="Variant.Filled" Color="Color.Tertiary"
                       StartIcon="@Icons.Material.Filled.EditNote"
                       Class="text-center">Editar</MudButton>
            <MudButton Link="@($"/categoria/eliminar/{context.Id}")" Size="Size.Small" Variant="Variant.Filled" Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Delete"
                       Class="text-center">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Categoria> categorias = new List<Categoria>();
    private string searchText = "";

    protected override async Task OnInitializedAsync()
    {
        httpClient.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
        await getAll();
    }

    private async Task getAll()
    {
        var httpResponse = await httpClient.GetStringAsync("categoria");
        categorias = JsonSerializer.Deserialize<IEnumerable<Categoria>>(httpResponse, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void goAdd()
    {
        NavigationManager.NavigateTo("categoria/agregar");
    }
}

