@page "/sugerencia/index"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

<MudText Typo="Typo.h2" Class="ml">Sugerencias</MudText>

<br />
<div class="">
    <a href="/sugerencia/agregar">
        <button class="button"></button>
    </a>
</div>
<br />

<MudTable Items="@sugerencias" Dense="true" Hover="true" Bordered="true" Striped="true">
    <ToolBarContent>
        <MudSpacer />      
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Correo</MudTh>
        <MudTh>Comentario</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Correo">@context.Correo</MudTd>
        <MudTd DataLabel="Comentario">@context.Comentario</MudTd>
        <MudTd>
            <MudButton Link="@($"/sugerencia/eliminar/{context.Id}")" SSize="Size.Small" Variant="Variant.Filled" Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Delete"
                       Class="text-center">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<Sugerencia> sugerencias = new List<Sugerencia>();
    private string searchText = "";

    protected override async Task OnInitializedAsync()
    {
        httpClient.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", await _localStorageService.GetItemAsync<string>("token"));
        await getAll();
    }

    private async Task getAll()
    {
        var httpResponse = await httpClient.GetStringAsync("sugerencia");
        sugerencias = JsonSerializer.Deserialize<IEnumerable<Sugerencia>>(httpResponse, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void goAdd()
    {
        NavigationManager.NavigateTo("sugerencia/agregar");
    }
}