@page "/libro/index"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<h1 class="Titulo-Libro">Colección de Libros</h1>


<div class="ContenedorBotonAgreLibroAdmin">
    <div class="">
        <a href="/libro/agregar">
            <button class="BotonAgregarLibro Agregar">Agregar Libro </button>
        </a>
    </div>
</div>

<MudSpacer />

<div class="row">
    @foreach (var item in libros)
    {
        <div class="col-md-4">
            <a class="btn" href="@($"/libro/editar/{item.Id}")">
                <div class="card1">
                    <div class="card-content">
                        <div class="card-front contenedor">
                            <img class="Ajustarimagen" src="@item.ImagenPortada" alt="@item.Nombre">
                            <p class="sub-fechaLanzamiento">
                                @item.FechaLanzamiento
                            </p>
                        </div>
                        <div class="card-back contenedor">
                            <img class="Ajustarimagen" src="@item.ImagenIntroduccion" alt="@item.Nombre">
                            <div class="fondo row ">
                                <div class="movie-description">
                                    <span class="AtributosLibro ">Descripción:  </span>@item.Descripcion
                                </div>
                                <div class="genre">
                                    <span class="AtributosLibro ">Nº Páginas:  </span>@item.Paginas
                                </div>
                                <div class="back-title">
                                    <span class="AtributosLibro ">Idioma:  </span>@item.Idioma
                                </div>
                                <div class="release-date">
                                    <span class="AtributosLibro ">Fecha de publicación:  </span>@item.FechaLanzamiento
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="ContenedorBotonesAdminpeli">
                <a href="@($"/libro/eliminar/{item.Id}")">
                    <button class="BotonesAdminlibro Eliminar">Eliminar</button>
                </a>
                <a href="@($"/libro/editar/{item.Id}")">
                    <button class="BotonesAdminlibro Modificar">Modificar</button>
                </a>
            </div>
        </div>
    }
</div>

@code {
    private IEnumerable<Libro> libros = new List<Libro>();
    private string searchText = "";
    private Libro libro = new Libro();

    protected override async Task OnInitializedAsync()
    {
        await getAll();
    }

    private async Task getAll()
    {
        var httpResponse = await httpClient.PostAsJsonAsync("libro/buscar", libro);
        string respString = await httpResponse.Content.ReadAsStringAsync();
        libros = JsonSerializer.Deserialize<IEnumerable<Libro>>(respString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void goAdd()
    {
        NavigationManager.NavigateTo("libro/agregar");
    }
}
